@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nova+Square&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0e86d4;
}

h1 {
    font-family: "Quantico", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 3em;
    color: #003060;
    display: block;
    width: 100%;
}

.label {
    font-family: "Quantico", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.7em;
}

@media (orientation: portrait) {
    #box {
        padding-top: 2em;
        padding-bottom: 2em;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #box1,
    #box2 {
        width: 95%;
    }
}

@media (orientation: landscape) {
    body {
        max-width: 80vw;
        margin: auto;
    }

    #box {
        padding-top: 2em;
        padding-bottom: 2em;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    #box1,
    #box2 {
        width: 45%;
    }
}

/* These Boxes contain the panel and the text box below it */
#box1,
#box2 {
    display: flex;
    flex-direction: column;
}

.panel {
    font-family: "Nova Square", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    color: #003060;
    margin-bottom: 40px;
    width: 100%;
}

#button {
    height: 45px;

    /* This aligns the button vertically along the centre between the other two boxes*/
    align-self: center;
}

#textInput,
#textOutput {
    height: 50vh;
    width: 100%;
    padding: 1em;
    border: 3px dotted grey;
    border-radius: 12px;
    background-color: #68bbe3;

    font-family: "Noto Sans", sans-serif;
    font-size: 1em;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

footer {
    height: 10vh;
    width: 100%;
    border-radius: 0.5rem;
    background-color: #68bbe3;

    font-family: "Quantico", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5em;
    color: #003060;
    padding: 10px;
}
